body {
  background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  /* background-color: #f1f2f5; */
  padding: 15px;
}

.layui-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}